<app-nav-bar></app-nav-bar>



    
<div class="card">
    <p-table [value]="viagemList"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Data</th>
          <th>Partida</th>
          <th>Destino</th>
          <th>Contacto</th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-viagem>
        <tr>
          <td>{{ viagem.nomeAluno }}</td>
          <td>{{ viagem.cidadePartida }}</td>
          <td>{{ viagem.dataViagem }}</td>
          <td>{{ viagem.nomeInstituicao }}</td>
          <td>{{ viagem.contacto }}</td>
          
        </tr>
        
      </ng-template>
      
    </p-table>
  </div>